@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

#root {
	/* max-width: 1440px; */
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.select-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7rem;
	height: 50px;
	width: 100%;
}

.select {
	display: flex;
	height: 2rem;
	width: 250px;
	align-items: center;
	justify-content: space-around;
}

.select-dropdown {
	height: 100%;
	width: 60%;
	cursor: pointer;
	border-radius: 2px;
	padding: 0 0.5rem;
}

.search-input {
	width: 40rem;
	height: 3rem;
	margin-top: 1rem;
	margin: 1rem auto 0;
	text-indent: 1rem;
	font-size: 1.5rem;
}

.search-input::placeholder {
	height: 100%;
	font-size: 1.5rem;
}

@media (max-width: 861px) {
	.search-input {
		max-width: 100%;
	}
}

.no-player {
	width: max-content;
	margin: 1rem auto;
	font-size: 1.25rem;
}

.grid {
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
	max-width: 1400px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 2rem;
}

@media (max-width: 500px) {
	.grid {
		width: 100%;
	}

	.grid .card-wrapper {
		width: 100%;
	}
}

@media (max-width: 860px) {
	.grid {
		place-items: center;
		padding: 0;
		margin-top: 20px;
	}
}

.dashboard {
	width: 100%;
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	place-items: center;
}

.dashboard--gw {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	gap: 1rem;
}

@media (max-width: 500px) {
	.player--info {
		width: 100%;
	}

	.player--info .player-tag {
		display: none;
	}

	.player--info .card-wrapper {
		background: red;
		width: 100%;
	}
}

@media (max-width: 860px) {
	.dashboard--gw {
		width: 100%;
		margin: 0 auto;
	}
}

@media (max-width: 1000px) {
	.dashboard {
		gap: 2rem;
	}

	.dashboard--gw {
		width: 80%;
		grid-row: 2;
	}

	.player--info {
		grid-row: 1;
	}
}

.row {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem;
	gap: 1rem;
}

.transfers {
	width: 200px;
	min-height: 100px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	border-radius: 0.5rem;
	position: relative;
	box-shadow: inset 0 0 20px 1px rgba(154, 59, 251, 0.4);
}

.transfers p {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	color: #9a3bfb;
	font-size: 1rem;
	font-weight: bold;
}

.transfers span {
	font-weight: bold;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	font-size: 1.25rem;
}

@media (max-width: 860px) {
	.dashboard {
		display: grid;
		place-items: center;
	}

	.row {
		justify-content: center;
		padding: 0;
	}

	.transfers {
		min-height: 100px;
	}
}

.score {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.score div {
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	border-radius: 0.5rem;
	position: relative;
	box-shadow: inset 0 0 20px 1px rgba(154, 59, 251, 0.4);
}

.score div p {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	color: #9a3bfb;
	font-size: 1rem;
	font-weight: bold;
	line-height: 15px;
	text-align: left;
}

.score div span {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	font-size: 1.25rem;
	font-weight: bold;
}

.most-player {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.most-player .most {
	width: 200px;
	height: 100px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-shadow: inset 0 0 20px 1px rgba(154, 59, 251, 0.4);
	border-radius: 0.5rem;
	position: relative;
}

.most-player .most p {
	color: #9a3bfb;
	width: 100%;
	text-align: left;
	font-weight: bold;
}

.most-player .most span {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	font-size: 1.25rem;
	font-weight: bold;
}

.chip--wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 0.5rem;
	padding-right: 2rem;
	margin-bottom: 1rem;
}

@media (max-width: 860px) {
	.most-player,
	.row,
	.chip--wrapper {
		flex-wrap: wrap;
	}

	.row .transfers {
		width: 100%;
		height: max-content;
	}

	.row .score {
		width: 100%;
		flex-direction: row;
		height: max-content;
	}

	.row .score div {
		width: 100%;
	}

	.most-player .most {
		flex: 1;
		flex-basis: 33%;
	}

	.chip--wrapper {
		justify-content: center;
		padding-right: 0;
	}

	.chip--wrapper .chip_play {
		flex: 1;
		flex-basis: 33%;
	}
}

.chip_play {
	--card-top: 0;
	--card-opacity: 0;
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	border-radius: 0.5rem;
	position: relative;
	overflow: hidden;
}

.chip_play::after {
	content: '';
	width: 2px;
	height: 50px;
	position: absolute;
	top: var(--card-top);
	left: 0;
	background: linear-gradient(transparent, #9a3bfb, transparent);
	transition: top, opacity;
	transition-duration: 600ms;
	transition-timing-function: ease;
	transform-origin: center center;
	transform: translateY(-50%);
	opacity: var(--card-opacity);
}

.chip_play:hover::after {
	top: var(--card-top);
	opacity: var(--card-opacity);
	transition-delay: -0.05s;
}

.chip--name {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	color: #9a3bfb;
	font-size: 1rem;
	font-weight: bold;
}

.chip--name::after {
	content: attr(data-chip-name);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 170%;
	left: 0;
	font-size: 2rem;
	font-weight: 900;
	letter-spacing: -4px;
	filter: blur(1px);
	color: rgba(154, 59, 251, 0.4);
}

@media (max-width: 500px) {
	.chip--name::after {
		display: none;
	}
}

.chip--num_played {
	font-weight: bold;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	font-size: 1.25rem;
}

.player--info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.player-tag {
	width: 100%;
	height: 100%;
	margin: 0;
	padding-top: 15px;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-90deg);
	font-size: 2.5rem;
}

.card-wrapper {
	width: 400px;
	height: 500px;
	border-radius: 1rem;
	background: #333;
}

.card {
	--bg-image: '';
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	background: #333;
	position: relative;
	overflow: hidden;
}

.card::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: var(--bg-image);
	background-size: 250px 250px;
	background-repeat: no-repeat;
	transform: skew(20deg, -10deg);
	filter: grayscale(100%);
	opacity: 0.3;
}

.card-top {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 0 1rem;
	border-radius: 0.5rem 0.5rem 0 0;
}

.divider {
	width: 400px;
	border: 1px solid #9a3bfb;
	margin-bottom: 1rem;
	z-index: 100;
}

.card-top {
	display: flex;
	justify-content: space-between;
	position: relative;
	overflow: hidden;
	z-index: 100;
}

.price {
	height: 100%;
	color: white;
	opacity: 0.87;
	z-index: 400;
	font-size: 2rem;
}

.card-top--name {
	display: flex;
	flex-direction: column;
	align-items: start;
	font-size: 2rem;
	font-weight: bold;
	text-align: left;
	width: 100%;
	z-index: 101;
}

.card-top--name p:nth-child(2) {
	color: #9a3bfb;
}

.card-top--image {
	width: 220px;
	height: 280px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
}

.card-top--image img {
	width: 100%;
	height: 100%;
}

.card-bottom {
	width: 100%;
	height: 100%;
	border-radius: 0 0 0.5rem 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.home-card-bottom {
	width: 100%;
	height: 100%;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.bottom-data {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottom-data .left,
.bottom-data .right {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
	text-align: left;
}

.home-card-bottom .view-more-button button {
	z-index: 100;
}

.news {
	width: 100%;
	height: 2rem;
	position: absolute;
	top: 0;
	font-weight: bold;
}

.player--gw {
	width: 100%;
	height: 80%;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: end;
	gap: 0.5rem;
}

.player--transfers {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.view-more-button {
	width: 100%;
	margin: 0;
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: end;
}

.player--modal--wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1000;
}

.player--modal {
	width: 1000px;
	height: 700px;
	background: #333;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (max-width: 860px) {
	.player--modal {
		width: 500px;
	}

	.player--modal--wrapper > div {
		width: 100%;
	}
}

@media (max-width: 1200px) {
	.player--modal {
		width: 800px;
	}
}

.player--modal--summary {
	width: 100%;
	height: 100%;
	/* height: calc(90vh - 100px); */
	padding: 4rem 1rem 0px;
	background-image: linear-gradient(rgba(255, 255, 255, 0) 180px, white 320px),
		linear-gradient(to right, rgb(2, 239, 255), rgb(98, 123, 255));
}

@media screen and (min-width: 860px) {
	.player--modal--summary {
		padding-left: 8%;
		padding-right: 8%;
	}
}

.modal--banner {
	width: 100%;
	height: 200px;
	display: flex;
	box-sizing: border-box;
	margin: 0;
	min-width: 0;
	align-items: center;
	overflow: hidden;
}

.modalimage {
	position: relative;
	width: 200px;
	height: 200px;
	flex: 0 0 200px;
	margin: 0 4rem;
	display: block;
}
/* 
.modalimage div {
	position: absolute;
	top: 0;
	right: 0;
	width: 220px;
	height: 280px;
	background-size: cover;
	background: green;
} */

.modalimage div img {
	display: block;
	max-width: 100%;
}

.modal--banner div:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 1rem;
}

.player--position {
	padding: 0.2rem 0.8rem;
	background: rgb(55, 0, 60);
	color: rgb(5, 240, 255);
	border-radius: 0 0 0.5rem 0.5rem;
	font-size: 0.7rem;
	line-height: 1;
}

.modal--player--name {
	box-sizing: border-box;
	display: block;
}

@media (max-width: 500px) {
	.modalimage {
		margin: 0;
	}
}

.player--modal--info {
	display: block;
	width: 100%;
	height: 100px;
	padding-top: 1.5rem;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
	overflow: hidden;
	box-sizing: border-box;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.player--modal--info ul {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: start;
	justify-content: space-between;
	flex-wrap: wrap;
	color: black;
}

.player--modal--info ul li {
	width: calc(100% / 8);
	height: 50%;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	flex: 1;
	font-size: 1rem;
	line-height: 1rem;
	position: relative;
}

.player--modal--info ul h3::before {
	content: '';
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 0;
	width: 1px;
	background-color: rgba(0, 0, 0, 0.1);
}

.player--modal--info ul li:first-child h3::before {
	display: none;
}

h3 {
	font-size: 0.7rem;
	font-weight: normal;
}

.player--modal--info ul li div:nth-of-type(1) {
	font-weight: 900;
	font-size: 1.25rem;
}

.player--modal--info ul li div:nth-of-type(2) {
	font-weight: 900;
	font-size: 0.7rem;
}

.player--modal--info ul li .rank-title strong {
	font-weight: bold;
}

.chart--heatmap {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 1200px) {
	.player--modal--summary {
		width: 100%;
	}

	.player--modal--info {
		padding: 1rem;
		margin-bottom: 1rem;
	}

	.player--modal--info ul {
		width: 100%;
		flex-wrap: wrap;
		row-gap: 1rem;
	}

	.player--modal--info ul li {
		flex-basis: 25%;
	}

	.player--modal--info ul li:nth-child(5) h3::before {
		display: none;
	}

	.player--modal {
		width: 100%;
		height: 100%;
	}

	.player--modal--chart {
		width: 100%;
	}

	.recharts-wrapper > * {
		width: 100%;
	}

	.recharts-wrapper div.recharts-tooltip-wrapper {
		width: 300px;
	}

	.chart--heatmap {
		flex-direction: column;
	}
}

@media (max-width: 860px) {
	.chart--heatmap {
		width: 100%;
	}
}

.heatmap--wrapper {
	position: relative;
	width: 100%;
	padding-top: min(232px, 62.605% + 20px);
	margin-right: 20px;
}

.heatmap--container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #446c46;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 8px 10px;
	border-radius: 16px;
}

.heatmap--container > svg {
	margin-bottom: 8px;
}

.player--modal--heatmap {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 33px;
}

.player--modal--heatmap canvas {
	transform: rotateX(180deg);
}

.chart {
	width: 100%;
}

/* @media (max-width: 860px) {
	.chart {
		margin: 0 auto;
		padding: 0;
		width: 70%;
		background: orange;
	}
} */

.app {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
