@import '../../styles/mixins';

.selectDropdown {
	height: 100%;
	cursor: pointer;
	border-radius: 2px;
	padding: 0 0.5rem;
}

.select {
	width: 100%;
	height: 2rem;
	@include flex(row, center, space-around);

	&.gameweek {
		width: 100%;
	}
}
