@import '../../styles/mixins';

.cardTopName {
	width: 100%;
	@include flex(column, start, flex-start);
	font-size: 2rem;
	@include font-weight(bold);
	text-align: left;
	z-index: 101;

	p:nth-child(2) {
		color: white;
	}
}
