@import '../../styles/mixins';

.selectMenu {
	width: 100%;
	height: 50px;
	@include flex(row, center, flex-start);
	gap: 2rem;

	.select {
		width: 100%;
		height: 2rem;
		@include flex(row, center, space-around);

		div {
			width: 10rem;
		}
	}
}
